$cPrimary: #2e5180;
$cDarkGray: #333333;
$cMiddleGray: #707f89;
$cGray: #eef4f8;
$cWhite: #ffffff;

// CSS 基本設定

* {
  font-family: "Noto Sans JP", sans-serif;
}

// overall width 
.container {
  width: 84%;
  margin: 0 auto;
}

// container width 1240px
.container {
  width: 91%;
  max-width: 1240px;
}

// Reset Normalize Sanitize
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

// link

a {

  color: inherit;
  text-decoration: none;

  // hover setting
  &::hover {
    opacity: 0.8;
  }
}


// header & handburger menu
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


//  ~~~~~~~~~~~~~~~~~~~~~~~

// header
.header .container {
  // side by side
  display: flex;
  justify-content: space-between;
  // center
  align-items: center;
  height: 74px;
}

// header height
.header .container {
  height: 100px;
}

.site {
  // side by side
  display: flex;
  align-items: center;

  // img size & margin
  & img {
    width: 42px;
    margin-right: 10px;
  }

  & .corp {
    color: #333;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
  }

  & .desc {
    color: #707f89;
    font-size: 10px;
    line-height: 1.4;
  }

}

// navigation button

.nav-button {
  // button setting
  box-sizing: content-box;
  padding: 0;
  outline: none;
  border: none;
  background: none;

  // button size & color
  width: 20px;
  height: 14px;
  cursor: pointer;
  color: #2e5180;

  // hamburger button view
  &::before,
  &::after {
    content: '';
    display: block;
    height: 2px;
    background-color: currentColor;
    transform: translateY(5px);
  }

  &::before {
    transform: translateY(-5px);
    box-shadow: 0 6px currentColor;
  }

  // hamburger button view end
}